<app-client [formType]="'SavAcc'" [editId]="selectedId" (selectedClient)="clientSelected($event)"></app-client>
<form (keydown.enter)="$event.preventDefault()" [formGroup]="addNewDebitCashForm" (submit)="onSubmit(addNewDebitCashForm)">
  <div *ngIf="loadMainForm" class="grid">
    <div class="col-12">
      <h1 class="text-sm py-2">Debit Cash Form</h1>
    </div>
    <div class="col-12 sm:col-6 md:col-4">
      <div class="field grid">
        <label htmlFor="date1" class="col-12 mb-2 md:col-4 md:mb-0"> Issue Date</label>
        <div class="col-12 md:col-8">
          <p-calendar
            appDateFormat
            id="date1"
            styleClass="w-full"
            appendTo="body"
            formControlName="date1"
            name="date1"
            [showIcon]="true"
            [required]="true"
            #date1></p-calendar>
        </div>
        <div class="col-12"></div>
      </div>
    </div>
    <div class="col-12"></div>

    <p-table [value]="creditAccountDataForDisplay" [tableStyle]="{ width: '96vw', padding: '1rem' }" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th width="30%">Perticulers</th>
          <th width="10%">Opening</th>
          <th width="10%">Amount</th>
          <th width="10%">Closing</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-creditAccountDataForDisplay let-rowIndex="rowIndex">
        <tr>
          <td width="30%"></td>
          <td width="10%">{{ creditAccountDataForDisplay?.account_balance_derived }}</td>
          <td width="10%">
            <p-inputNumber
              (keydown.enter)="closingAmount($event.target)"
              [useGrouping]="false"
              id="dr_amount"
              formControlName="dr_amount"
              name="dr_amount"
              #dr_amount></p-inputNumber>
          </td>
          <td width="10%">{{ closingAmountDisplay }}</td>
        </tr>
        <tr>
          <td width="30%">Total:</td>
          <td width="10%"></td>
          <td width="10%">
            <input pInputText readonly [value]="addNewDebitCashForm.get('dr_amount')?.value" />
          </td>
          <td width="10%"><input pInputText readonly [value]="closingAmountDisplay" /></td>
        </tr>
      </ng-template>
    </p-table>
    <!-- <div class="col-12 sm:col-6 md:col-4">
      <div class="field grid">
        <label htmlFor="" class="col-12 mb-2 md:col-4 md:mb-0">Opening Balance </label>
        <div class="col-12 md:col-8">
          {{ creditAccountData?.account_balance_derived }}
        </div>
        <div class="col-12"></div>
      </div>
    </div>
    <div class="col-12"></div>
    <div class="col-12 sm:col-6 md:col-4">
      <div class="field grid">
        <label htmlFor="dr_amount" class="col-12 mb-2 md:col-4 md:mb-0">Amount</label>
        <div class="col-12 md:col-8">
          <p-inputNumber
            (keyup)="closingAmount($event.target)"
            [useGrouping]="false"
            id="dr_amount"
            formControlName="dr_amount"
            name="dr_amount"
            #dr_amount></p-inputNumber>
        </div>
        <div class="col-12"></div>
      </div>
    </div>
    <div class="col-12 sm:col-6 md:col-4">
      <div class="field grid">
        <label htmlFor="" class="col-12 mb-2 md:col-4 md:mb-0">Closing Balance </label>
        <div class="col-12 md:col-8">
          {{ closingAmountDisplay }}
        </div>
        <div class="col-12"></div>
      </div>
    </div> -->
    <div class="col-12"></div>
    <div class="col-12 sm:col-6 md:col-4">
      <div class="field grid">
        <label htmlFor="instrument_id" class="col-12 mb-2 md:col-4 md:mb-0">Instrument Id</label>
        <div class="col-12 md:col-8">
          <p-dropdown
            id="instrument_id"
            styleClass="w-full"
            appendTo="body"
            formControlName="instrument_id"
            name="instrument_id"
            #instrument_id
            optionLabel="instrument_name"
            optionValue="id"
            [filter]="true"
            [options]="instrumentDisplayArray"></p-dropdown>
        </div>
        <div class="col-12"></div>
      </div>
    </div>
    <div class="col-12 sm:col-6 md:col-4">
      <div class="field grid">
        <label htmlFor="gl_account_id" class="col-12 mb-2 md:col-4 md:mb-0">GL Account Id</label>
        <div class="col-12 md:col-8">
          <p-dropdown
            id="gl_account_id"
            styleClass="w-full"
            appendTo="body"
            formControlName="gl_account_id"
            name="gl_account_id"
            #gl_account_id
            optionLabel="account_name"
            optionValue="id"
            [filter]="true"
            [options]="GLAccountData"></p-dropdown>
        </div>
        <div class="col-12"></div>
      </div>
    </div>
    <div class="col-12"></div>
    <div *ngIf="addNewDebitCashForm.get('instrument_id')?.value == 2" class="col-12 sm:col-6 md:col-4">
      <div class="field grid">
        <label htmlFor="cheque_number" class="col-12 mb-2 md:col-4 md:mb-0"> Cheque Number</label>
        <div class="col-12 md:col-8">
          <p-inputNumber
            [useGrouping]="false"
            id="cheque_number"
            formControlName="cheque_number"
            name="cheque_number"
            #cheque_number></p-inputNumber>
        </div>
        <div class="col-12"></div>
      </div>
    </div>
    <div *ngIf="addNewDebitCashForm.get('instrument_id')?.value == 2" class="col-12 sm:col-6 md:col-4">
      <div class="field grid">
        <label htmlFor="cheque_date" class="col-12 mb-2 md:col-4 md:mb-0">Cheque Date</label>
        <div class="col-12 md:col-8">
          <p-calendar
            appDateFormat
            id="cheque_date"
            styleClass="w-full"
            appendTo="body"
            formControlName="cheque_date"
            name="cheque_date"
            [showIcon]="true"
            [required]="true"
            #cheque_date></p-calendar>
        </div>
        <div class="col-12"></div>
      </div>
    </div>
    <div class="col-12"></div>
    <div
      *ngIf="addNewDebitCashForm.get('instrument_id')?.value == 3 || addNewDebitCashForm.get('instrument_id')?.value == 4"
      class="col-12 sm:col-6 md:col-4">
      <div class="field grid">
        <label htmlFor="instrument_number" class="col-12 mb-2 md:col-4 md:mb-0">Instrument Number</label>
        <div class="col-12 md:col-8">
          <p-inputNumber
            id="instrument_number"
            formControlName="instrument_number"
            name="instrument_number"
            #instrument_number></p-inputNumber>
        </div>
        <div class="col-12"></div>
      </div>
    </div>
    <div class="col-12"></div>
    <div class="col-12 sm:col-6 md:col-4">
      <div class="field grid">
        <label htmlFor="voucher_number" class="col-12 mb-2 md:col-4 md:mb-0">Voucher Number </label>
        <div class="col-12 md:col-8">
          <p-inputNumber
            [useGrouping]="false"
            id="voucher_number"
            formControlName="voucher_number"
            name="voucher_number"
            #voucher_number></p-inputNumber>
        </div>
        <div class="col-12"></div>
      </div>
    </div>
    <div class="col-12"></div>
    <div class="col-12 sm:col-6 md:col-4">
      <div class="field grid">
        <label htmlFor="remarks" class="col-12 mb-2 md:col-4 md:mb-0"> Remarks </label>
        <div class="col-12 md:col-8">
          <input pInputText id="remarks" type="text" formControlName="remarks" #remarks />
        </div>
        <div class="col-12"></div>
      </div>
    </div>
    <div class="col-12 text-right">
      <button pButton type="submit" icon="pi pi-check" label="SAVE" class="px-4"></button>
    </div>
  </div>
</form>
