<form [formGroup]="bankFormGroup">
  <div class="grid">
    <div class="col-12">
      <div class="field grid">
        <label htmlFor="name" class="col-12 mb-2 md:col-3 md:mb-0">{{ 'bankName' | translate }}</label>
        <div class="col-12 md:col-9">
          <input
            pInputText
            id="name"
            type="text"
            formControlName="bank_name"
            #bank_name_c="control"
            lang="hi"
            name
            [autofocus]="true"
            [required]="true" />
        </div>
        <div class="col-12">
          <form-errors text="{{ 'bankName' | translate }}" [controlRef]="bank_name_c"></form-errors>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="field grid">
        <label htmlFor="active" class="col-12 mb-2 md:col-3 md:mb-0">Active</label>
        <div class="col-12 md:col-9">
          <p-dropdown
            formControlName="is_deactivated"
            #active
            styleClass="w-full"
            id="active"
            [panelStyle]="{ width: '400px' }"
            panelStyleClass="dropdown-table"
            appendTo="body"
            [options]="[
              {
                label: 'Yes',
                value: 0
              },
              {
                label: 'No',
                value: 1
              }
            ]">
            <ng-template let-item pTemplate="item" let-index="index">
              <span>{{ item.label }}</span>
            </ng-template>
            <!-- <ng-template let-footer pTemplate="footer" let-index="index">
              <div class="dropdownTableFooter grid gap-2 p-2 mx-0 justify-content-center">
                <button pButton icon="pi pi-plus" class="p-button-sm p-button-success" label="Add"></button>
                <button pButton icon="pi pi-cog" class="p-button-sm p-button-primary" label="Edit"></button>
                <button pButton icon="pi pi-trash" class="p-button-sm p-button-danger" label="Delete"></button>
              </div>
            </ng-template> -->
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="field grid">
        <label htmlFor="locked" class="col-12 mb-2 md:col-3 md:mb-0">Locked</label>
        <div class="col-12 md:col-9">
          <p-dropdown
            formControlName="is_locked"
            #locked
            styleClass="w-full"
            id="locked"
            [panelStyle]="{ width: '400px' }"
            panelStyleClass="dropdown-table"
            appendTo="body"
            [options]="[
              {
                label: 'Yes',
                value: 1
              },
              {
                label: 'No',
                value: 0
              }
            ]">
            <ng-template let-item pTemplate="item" let-index="index">
              <span>{{ item.label }}</span>
            </ng-template>
            <!-- <ng-template let-footer pTemplate="footer" let-index="index">
              <div class="dropdownTableFooter grid gap-2 p-2 mx-0 justify-content-center">
                <button pButton icon="pi pi-plus" class="p-button-sm p-button-success" label="Add"></button>
                <button pButton icon="pi pi-cog" class="p-button-sm p-button-primary" label="Edit"></button>
                <button pButton icon="pi pi-trash" class="p-button-sm p-button-danger" label="Delete"></button>
              </div>
            </ng-template> -->
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-12 text-right">
      <button pButton (click)="onSubmit()" icon="pi pi-check" label="SAVE" class="px-4"></button>
    </div>
  </div>
</form>
