<form [formGroup]="talukaForm">
  <div class="grid">
    <div class="col-12">
      <div class="field grid">
        <label htmlFor="name" class="col-12 mb-2 md:col-3 md:mb-0">Taluka Name</label>
        <div class="col-12 md:col-9">
          <input pInputText id="name" type="text" formControlName="taluka_name" name [autofocus]="true" #taluka_name_c="control" />
        </div>
        <div class="col-12">
          <form-errors text="Taluka Name" [controlRef]="taluka_name_c"></form-errors>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="field grid">
        <label htmlFor="name" class="col-12 mb-2 md:col-3 md:mb-0">Native Name</label>
        <div class="col-12 md:col-9">
          <input pInputText id="name" type="text" formControlName="in_native" [autofocus]="true" #in_native_c="control" />
        </div>
        <div class="col-12">
          <form-errors text="Native Name" [controlRef]="in_native_c"></form-errors>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="field grid">
        <label htmlFor="active" class="col-12 mb-2 md:col-3 md:mb-0">Country</label>
        <div class="col-12 md:col-9">
          <p-dropdown
            id="country_id"
            styleClass="w-full"
            appendTo="body"
            formControlName="country_id"
            #country_id_c="control"
            (onChange)="countryChanged($event)"
            name="country_id"
            optionValue="id"
            optionLabel="country_name"
            placeholder="Select country"
            [filter]="true"
            [options]="countryList"></p-dropdown>
        </div>
        <div class="col-12">
          <form-errors text="Country" [controlRef]="country_id_c"></form-errors>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="field grid">
        <label htmlFor="active" class="col-12 mb-2 md:col-3 md:mb-0">State</label>
        <div class="col-12 md:col-9">
          <p-dropdown
            id="state_id"
            styleClass="w-full"
            appendTo="body"
            formControlName="state_id"
            #state_id_c="control"
            (onChange)="stateChanged($event)"
            name="state_id"
            optionValue="id"
            optionLabel="state_name"
            placeholder="Select State"
            [filter]="true"
            [options]="stateList"></p-dropdown>
        </div>
        <div class="col-12">
          <form-errors text="State" [controlRef]="state_id_c"></form-errors>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="field grid">
        <label htmlFor="active" class="col-12 mb-2 md:col-3 md:mb-0">District</label>
        <div class="col-12 md:col-9">
          <p-dropdown
            id="district_id"
            styleClass="w-full"
            appendTo="body"
            formControlName="district_id"
            #district_id_c="control"
            name="district_id"
            optionValue="id"
            optionLabel="district_name"
            placeholder="Select District"
            [filter]="true"
            [options]="districtList"></p-dropdown>
        </div>
        <div class="col-12">
          <form-errors text="District" [controlRef]="district_id_c"></form-errors>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="field grid">
        <label htmlFor="active" class="col-12 mb-2 md:col-3 md:mb-0">Active</label>
        <div class="col-12 md:col-9">
          <p-dropdown
            id="is_deactivated"
            styleClass="w-full"
            appendTo="body"
            formControlName="is_deactivated"
            name="is_deactivated"
            optionValue="value"
            optionLabel="text"
            [filter]="true"
            [options]="inverseStatusList"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="field grid">
        <label htmlFor="locked" class="col-12 mb-2 md:col-3 md:mb-0">Locked</label>
        <div class="col-12 md:col-9">
          <p-dropdown
            id="is_locked"
            styleClass="w-full"
            appendTo="body"
            formControlName="is_locked"
            name="is_locked"
            optionValue="value"
            optionLabel="text"
            [filter]="true"
            [options]="statusList"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-12 text-right">
      <button pButton (click)="onSubmit()" icon="pi pi-check" label="SAVE" class="px-4"></button>
    </div>
  </div>
</form>
